{
    "printWidth": 100,
    "bracketSameLine": true,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "endOfLine": "auto",
    "semi": true,
    "overrides": [
      {
        "files": "*.{js,jsx,ts,tsx,json,md,yml,yaml,css,less,graphql}",
        "options": {
          "tabWidth": 4
        }
      }
    ]
  }